.row {
  clear: both;

}

.pad {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 7px 7px 0;
  cursor: pointer;
  background: grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.pad.active {
  background: #98FB98;
}
.login-icon{
  color: #98FB98;
}

.pad.playing {
  background: silver;
}
.pad.active.playing {
  background: #00FA9A;
}

.samplePad {
  position: relative;
  border-radius: 20px;
  text-align: center;
    width: 150px;
    float: left;
    background-color: #C0C0C0;
    padding: 30px;
    margin: 40px;
    left: 365px;
    top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pads {
  position: relative;
  top: 40px;
  left: 450px;


  margin: auto;
  width: 100%;
  padding: 10px;
}

.trackPlayer{
  position: absolute;
  background-color: #A9A9A9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 20px;
  height: 130px;
  top: 350px;
  left: 100px;
  margin: auto;
  padding: 10px;

}
.nav-header {
  position: relative;
  background-image: linear-gradient(#696969, white);
  height: 120px;

  padding: 30px;
  text-align: center;
}
.username {
  position: absolute;
  right: 50px;
  top: 20px
}

.music {
  position: absolute;
  left: 500px;
  top: 0px;
}


.profile-card{
  position: absolute;
  top: 110px;
  left: 10px;
  height: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.follow-menu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 30px;
  height: 200px;
  width: 291px;
  position: absolute;
  top: 390px;
  left: 0px;
}
.profile-sections{
  background-image: linear-gradient(#00FA9A, #98FB98);
  border-radius: 20px;


}

.user-tracks {  

  position: absolute;
  text-align: center;
  left: 340px;
  top: 140px;
  margin-bottom: 10px;
}


.user-song{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  background-color: #DCDCDC;
  border-radius: 20px;
  width: 490px;
  height: 140px;
  margin-bottom: 60px;
  text-align: center;
}
.user-shared-song{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  top: 20px;
  background-color: #DCDCDC;
  border-radius: 20px;
  width: 490px;
  height: 140px;
  margin-bottom: 90px;

}
.user-shared-tracks {
  position: absolute;
  text-align: center;
  top: 140px;
  right: 30px;


}
.scroller-user-songs {
  position: relative;
  top: 20px;
  width: 520px;
  height: 550px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  margin-bottom: 30px;
}
.scroller-user-shared-songs{
  position: relative;
  top: 20px;
  overflow-y: scroll;
  height: 500px;
  width: 530px;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  margin-bottom: 30px;

}

.singlewaveform {
  position: absolute;
  bottom: 0px;
  left: 120px;

}
.track-name{
  position: relative;
  text-align: center;
}

.timer {
  position: absolute;
  left: 300px;
  color: black
}

.timeline {
  position: absolute;
  top: 150px;
  left: 500px;
  margin-bottom: 10px;
}

.timeline-scroller{
  position: relative;
  top: 20px;
  width: 520px;
  height: 600px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;

}
.timeline-user-picture{
  width: 10%;

}
.experiment{
  position: relative;
  text-align: center;
  top: 10px;
  left: 30px;
  width: 300px;
}

.timeline-song-letters{
  position: relative;
  top: 20px;
  font-weight: bold;

}

.timeline-song{
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
 
  background-color: #DCDCDC;
  border-radius: 20px;

  text-align: center;
  margin-bottom: 80px;
  height: 200px;
  width: 350px;


}
.timeline-buttons{
  position: relative;
  top: 20px;

}
.following-list-scroller{
  position: relative;
  top: 0px;
  overflow-y: scroll;
  height: 120px;
  width: 280px;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.comments {
  position: fixed;


  width: 500px;
  right: 20px;
  top: 50px
}
.comments-scroller {
  width: 500px;
  height: 350px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
.close-comments{
  position: absolute;
  right: 0px;
  top: 0px;

}


.following-list {

  position: absolute;
  top: 60px;
  left: 10px;
}
.followers-list {
  position: absolute;
  top: 60px;
  left: 10px;
}
.mic {
  position: absolute;
  top: 145px;
  left: 390px;
  

}
.select {
  position: fixed;
  left: 390px;
  top: 120px;
  
}
.play-button {
  position: fixed;
  left: 390px;
  top: 250px;

}
.activate-sampler {
  position: fixed;
  left: 440px;
  top: 250px;
}
.controls {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 250px;
  text-align: center;
  border-radius: 20px;
  height: 100px;
  right: 80px;
  top: 145px;
  background: #C0C0C0;
}
.sampler-modal {
  position: fixed;
  left: 345px;
  top: 145px
}

.recorder-modal{
  position: fixed;
  left: 345px;
  top: 145px
}

.playlist-modal{
  position: fixed;
  left: 345px;
  top: 145px
}
/* 
.records {
  position: absolute;
  left: 300px;

} */
.records-edit{
  position: absolute;
  background-color: #A9A9A9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  border-radius: 20px;
  width: 250px;
  height: 110px;
  right: 80px;
  top: 170px;

}

.home-button {
  position: absolute;
  left: 250px;
  top: 31px;
  
  
}

.machine-button {
  position: absolute;
  left: 300px;
  top: 31px;

}
.mic-img{
  position: absolute;
  left: 540px;
}

.app-name {
  position: absolute;
  font-size: 70px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bolder;
  left: 460px;
  top: 10px;
  color: black;
  text-shadow: 0 0 25px #00FF00;
  text-shadow: 0px 0px 50px #00FF00;
  text-size-adjust: 80px;

}

.sample-question{
  position: absolute;
  background-color: #A9A9A9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  border-radius: 20px;
  width: 250px;
  height: 110px;
  right: 80px;
  top: 170px;
}

.recorded-pattern{
  position: relative;
  border-radius: 20px;
  text-align: center;
  width: 170px;
    float: left;
    margin: 20px;

    background-color: #C0C0C0;
    padding: 20px;
    left: 390px;
    top: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.tl-image{
  position: relative;
  top: 10px;
  left: 50px;
  width: 75px;

}

